header {
    padding: 35px 0 31px 0 !important;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .header_buttons {
            display: flex;
            gap: 29px;
        }
    }
}