* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Star Jedi', arial;
    color: #000;
}

.container {
    max-width: 1240px;
    margin:  0 auto;
    padding: 0 100px;
}