@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Montserrat:wght@800&family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: "Causten";
    src: url("../../public/assets/fonts/Causten-Regular.otf") format("opentype"),
        url("../../public/assets/fonts/Causten-Bold.otf") format("opentype"),
        url("../../public/assets/fonts/Causten-Light.otf") format("opentype"),
        url("../../public/assets/fonts/Causten-Medium.otf") format("opentype"),
        url("../../public/assets/fonts/Causten-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: "Mintaka";
    src: url(../../public/assets/fonts/Mintaka.ttf) format("opentype");
}

@font-face {
    font-family: "Core Sans C";
    src: url("../../public/assets/fonts/Fontspring-DEMO-coresansc45.otf") format("opnetype"),
        url("../../public/assets/fonts/Fontspring-DEMO-coresansc55.otf") format("opnetype"),
        url("../../public/assets/fonts/Fontspring-DEMO-coresansc65.otf") format("opnetype"),
        url("../../public/assets/fonts/Fontspring-DEMO-coresansc75.otf") format("opnetype"),
        url("../../public/assets/fonts/Fontspring-DEMO-coresansc85.otf") format("opnetype");
}

* {
    font-family: "Causten";
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: #000;
}

.container {
    max-width: 1440px;
    margin:  0 auto;
    padding: 0 100px;
}