@import url('./default.scss');
@import url('./fonts.scss');

* {
    font-family: "Causten";
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: #000;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1440px;
    margin:  0 auto;
    padding: 0 100px;
}

.auth_container {
    display: flex;
    position: relative;

    .wrapper {
        min-width: 595px;
        img {
            position: absolute;
            left: -100px;
        }
    }

    .form {
        width: 100%;
        padding-left: 77px;
        padding-top: 60px;

        h1 {
            font-family: "Core Sans C";
            font-size: 34px;
            font-weight: 600;
            letter-spacing: 0.68px;
        }
    }
}